.flexbox-container{
    padding: 10em 10em 10em 10em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: grid;
    background-color: #d8f3dc;
    justify-content:space-evenly;
    
}

.flexbox-item {
    width: 200px;
    margin: 5px;
    border: 2px solid #081c15;
    box-shadow: 3px 3px black;
    border-radius: 10px;
    background-color: #74c69d;
    display: flex;
    flex-direction: grid;
    
}

.wrapper {
    background-color: whitesmoke;
    
    border-radius: 10px;
}

.shape {
    background-color: greenyellow;
    margin: 10px;
    width: 100px;
    height: 100px;;
    border-radius: 50px;
    border: solid 2px black;
    align-items: center;
    justify-content: space-evenly;
    
}

.shape2{
    background-color: darkorange;
    width: 10px;
    height: 10px;
    border: solid 1px black;
    
}

.shape:hover {
    transform: scale(1.4);
}

.shape2:hover {
    transform: scale(1.9);
}

.inner-shape {
    background-color:cyan;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: solid 1px black;
    
}


.flexbox-1 {
    min-height: 300px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    
}

.flexbox-1:hover {
    transform:scale(1.5) 
}

.flexbox-2 {
    min-height: 300px;
    flex-direction: grid;
    align-items: center;
}

.flexbox-2:hover {
    transform:scale(1.5) 
}

.flexbox-3 {
    min-height: 300px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.flexbox-3:hover {
    transform:scale(1.5) 
}

.flexbox-4 {
    min-height: 300px;
}

.flexbox-4:hover {
    transform:scale(1.5) 
}

.flexbox-5 {
    min-height: 300px;
}

.flexbox-5:hover {
    transform:scale(1.5) 
}

.flexbox-6 {
    min-height: 300px;
}

.flexbox-6:hover {
    transform:scale(1.5) 
}

.flexbox-7 {
    min-height: 300px;
}

.flexbox-7:hover {
    transform:scale(1.5) 
}

.flexbox-8 {
    min-height: 300px;
}

.flexbox-8:hover {
    transform:scale(1.5) 
}

.flexbox-9 {
    min-height: 300px;
}

.flexbox-9:hover {
    transform:scale(1.5) 
}




