.container {
    display: flex;
    width: 800px;
    height: 800px;
    margin: 0px auto;
    columns: 4;
    column-gap: 10px;
}

.box {
    width: 235px;
    padding: 20px;
    background-color: gray;
    border: 1px solid black;
    margin-bottom: 10px;
    break-inside: avoid;
}

.box img {
    width: 100%;
    object-fit: contain;
}