
body {
   
    background-color: #253237;
    text-align: center;
    
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    
    padding: 10px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
    border-radius: 5px; 
    width: auto;
      
  }

  

  .grid-item {
    background-color: white;
    border-radius: 5px;
    border: solid 1px black;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
    text-align: center;
    
    
    
    
  }


  .article-container {
    
    
    padding: 10px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 40px;
    border-radius: 5px; 
    width: auto;
    
      
  }



  .article {
    background-color: white;
    border-radius: 5px;
    border: solid 1px black;
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    text-align: left;
    
    
  }

  .particle {
    font-family: sans-serif;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    
}




  img {
      min-width: 100%;
      max-width: 100%;
      border-radius: 5px;
      
  }

  
  .t1 {
    animation: fadeIn linear 3s;
  }

  .t2 {
    animation: fadeIn linear 4s;
  }

  .t3 {
    animation: fadeIn linear 5s;
  }

  .t4 {
    animation: fadeIn linear 6s;
  }

  .t5 {
    animation: fadeIn linear 7s;
  }

  .t6 {
    animation: fadeIn linear 8s;
  }


 .navbar {
    display: flex;
    background-color: #253237;
    border-radius: 5px;
    min-width: 100%;
    animation: fadeIn 2s;
  
    
}

.navbar ul {
  padding-left: 100px;
  padding-right: 100px;
}

h1 {
  font-family: Arial;
  color: white;
  font-style: italic;
  padding-left: 20px;
  padding-top: 10px;
}

.box {
    
    width: 100%;
    
    z-index: 1;
    position: sticky;
    top: 0;
}

ul {
    list-style-type: none;
    font-family: arial;
    color: black;
    font-size: large;
    
    
}







p {
    font-family: Arial;
    font-size: 10pt;
    
}

.title {
    font-family: Arial;
    color: white;
    font-size: x-large;
}

.main:hover {
  transform: scale(1.2);
  
}

.main {
  padding-left: 20px;
  animation: fadeIn 4s;
}

.fab {
  animation: fadeIn 5s;
  
}



@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    
  }

  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

  .fab {
      color: white;
      font-size: xxx-large;
  }

  .fab:hover {
      
      animation: spin 2s;
  }



  






  @media screen and (max-width: 600px) {

    .navbar ul {
      padding-left: 10px;
      padding-right: 10px;
    }


    body {
        align-items: center;
        margin: auto;
        min-width: 600px;
        max-width: 600px;
        
    }
    
    .main {
       max-height: 60px;
      min-width: 100px;
      
    }

    .fab {
      color: white;
      
      padding-left: 10px;
      padding-right: 10px;
  }
  
  h1 {
    font-size: large;
  }
    .t1 .t2 .t3 .t4 .t5 .t6 {
      max-width: 500px;
      min-width: 500px;
    }
  
    


    .grid-container {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        min-width: 300px;
        margin-top: 5px;
        margin-left: 1px;
        
      }


      .grid-item {
        
        border-radius: 5px;
        border: solid 1px black;
        font-size: 30px;
        
      }

      .article-container {
        
        
        padding: 10px;
        min-width: 300px;
        margin-top: 5px;
        margin-left: 1px;
        
      }


      .navbar {
        
        min-width: 400px;
        max-width: 600px;
        
        background-color: #253237;
        border-radius: 5px;
        
        justify-content: flex-start;
    
        
    }
    h1 {
      font-family: Arial;
      color: white;
      font-style: italic;
      padding-left: 5px;
    }

    .description {
      float: left;
     
    }


    

    
  }


  

